<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Helen & Adam</title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="full-height">
    <.navbar />
    <main class="full-content-height flex flex-col px-4 py-20 sm:px-6 lg:px-8 max-w-2xl mx-auto">
      <p class="text-center big-text">Found Love</p>
      <div class="mx-auto my-auto heart-clip"></div>
      <p class="text-center big-text mb-8">
        But not your page
      </p>
    </main>
  </body>
</html>
