<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Helen & Adam</title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="full-height">
    <div class="flex items-center justify-between border-b border-zinc-100 py-3 text-sm">
      <div class="ml-2 flex items-center gap-4">
        <a href="/">
          <img src={~p"/assets/icons/favicon-32x32.png"} width="36" />
        </a>
      </div>
    </div>
    <main class="full-content-height flex flex-col px-4 py-20 sm:px-6 lg:px-8 max-w-2xl mx-auto">
      <p class="text-center big-text">Found Love</p>
      <div class="mx-auto my-auto heart-clip"></div>
      <p class="text-center big-text mb-8">
        Not your page
      </p>
    </main>
  </body>
</html>
