<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="Helen & Adam">
      {assigns[:page_title]}
    </.live_title>
    <meta
      property="og:title"
      content={
        if assigns[:page_title] do
          assigns[:page_title]
        else
          "Helen & Adam"
        end
      }
    />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/images/img1.jpg" />
    <meta property="og:url" content={"https://wedding.adamcollins.io" <> @conn.request_path} />
    <link rel="apple-touch-icon" sizes="180x180" href={~p"/assets/icons/apple-touch-icon.png"} />
    <link rel="icon" type="image/png" sizes="32x32" href={~p"/assets/icons/favicon-32x32.png"} />
    <link rel="icon" type="image/png" sizes="16x16" href={~p"/assets/icons/favicon-16x16.png"} />
    <link rel="manifest" href={~p"/site.webmanifest"} />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    {@inner_content}
  </body>
</html>
