<hr class="mt-8 border-t-2" />

<h2 class="text-lg mt-7 mb-4 font-semibold">Something wrong?</h2>
<div class="flex justify-between">
  <.link href={~p"/rsvp/reset"} method="post">
    <.button>Wrong invitation</.button>
  </.link>
  <.link href={~p"/rsvp/confirm/0"}>
    <.button>Re-verify details</.button>
  </.link>
</div>
