<h1>
  Helen and Adam's Wedding
</h1>
<p>
  You can RSVP for everyone in your group
</p>

<.simple_form :let={f} for={@changeset} action="/rsvp">
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:email]} type="text" label="Email" />
  <:actions>
    <.button class="btn-action">Lookup RSVP</.button>
  </:actions>
</.simple_form>
