<h1 class="text-lg text-brand">
  Find Invitation
</h1>
<p>
  Please enter your email below to see your invitation
</p>

<.simple_form :let={f} for={@changeset} action="/rsvp/lookup" method="post">
  <.input field={f[:email]} type="text" label="Email" />
  <:actions>
    <.button class="btn-action">Lookup invitation</.button>
  </:actions>
</.simple_form>
