<h1 class="text-lg text-brand">
  You're invited!
</h1>

<p>
  Please take a moment to verify some details to help us plan the perfect day.
</p>

<p>
  If things change, you can return to this page to upate your answers at any
  time in the future
</p>
