<div class="flex flex-col items-center gap-8 rounded-2xl border-2 p-4 mb-8  border-zinc-300">
  <div class="border-b-2 text-center">
    <h2 class="text-xl font-semibold">{@group_name}</h2>
    {render_slot(@events)}
  </div>

  <div class="w-full">
    {render_slot(@footer)}
  </div>
</div>
