<h1 class="text-4xl text-center font-serif mb-4 ">
  Helen Clark & Adam Collins
</h1>
<div>
  <img class="rounded-2xl" src={ "/images/" <> @image } />
</div>

<.public_events>
  <:friday>
    <.brunch_event :if={@brunch?} />
    <.rehersal_event :if={@rehearsal?} />
  </:friday>
</.public_events>

<hr :if={@brunch? or @rehearsal?} class="mt-8 mb-8" />
