<h1 class="text-4xl text-center font-serif mb-8 hinge-header">
  Wedding Photos
</h1>

<p>
  After the wedding we'll provide more details for where you can find or share
  wedding photos.
</p>

<p>
  So please check back some time in May 2026.
</p>
