<h1 class="text-4xl text-center font-serif mb-8 hinge-header">
  Wedding Photos
</h1>

<p>
  After the wedding we'll provide more details for where you can find/share any
  wedding photos. So check back in sometime in May 2026.
</p>
