<h1 class="text-lg text-brand">
  Detail view
</h1>

<ul>
  <li><b>First name:</b> <%= @guest.first_name %></li>
  <li><b>Last name:</b> <%= @guest.last_name %></li>
</ul>

<p>
  <a href="/home">Go Back</a>
</p>
