<h1 class="text-lg text-brand">
  Details: {@guest.first_name} {@guest.last_name}
</h1>

<ul>
  <li>
    <.link href={~p"/guest_old/#{@guest}/edit"}>
      <.button>
        Edit
      </.button>
    </.link>
  </li>
  <li>
    <.link href={~p"/guest_old/#{@guest}"} method="delete" data-confirm="Are you sure?">
      <.button>
        Delete
      </.button>
    </.link>
  </li>
</ul>

<p>
  <a href="/guest">Go Back</a>
</p>
