<h1 class="text-lg text-brand">
  Detail view
</h1>

<.guest_form changeset={@changeset} action={~p"/guest/#{@guest}"} />

<h2>Actions</h2>
<ul>
  <form method="DELETE" action={~p"/guest/#{@guest}"}>
    <button type="submit">Delete</button>
  </form>
</ul>

<p>
  <a href="/guest">Go Back</a>
</p>
