<h1 class="text-lg text-brand">
  Create guest
</h1>

<.guest_form changeset={@changeset} action={~p"/guest_old"} />

<div class="mt-2">
  <a href="/guest_old">
    <.button>Go Back</.button>
  </a>
</div>
