@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
body {
  background-color: #f5f4ef
}

:root {
  --hinge-conversation-bg-color: #fffefd;
  --hinge-purple: #67295F;
  --hinge-purple-muted: #ffeae5;
  --hinge-date: #999;
  --hinge-gray-bg: #f5f5f1;
}

/* This file is for your main application CSS */
p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.btn-action {
  @apply bg-blue-500;
}

.hinge-header {
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: normal;
}

.chat-conversation {
  background-color: var(--hinge-conversation-bg-color);
  padding: 12px;
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  border-radius: 12px;
  padding-right:24px;
}

.chat-group {
  display: flex;

  &.date {
    text-align: center;
    width: 100%;
    margin-bottom: -14px;

    p {
      margin: auto;
      color: var(--hinge-date);
      font-size: 14px;
    }
  }

  &.helen.indicator {
    margin-right: -6px;
  }

  &.image {
    flex-direction: column;
    margin-bottom: -40px;
    
    .chat-message {
      position: relative;
      bottom: 32px;
    }

    img {
      max-width:70%;
      margin-left: auto;
      border-radius: 12px; 
    }
  }
}

.chat-message {
  width: max-content;
  max-width: 70%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  padding: 8px;

  &.helen {
    background-color: var(--hinge-purple);
    text-align: left;
    margin-left: auto;
    color: #fffefd;
    border-bottom-right-radius: 0;

    &.image {
      background-color: var(--hinge-purple-muted);
      color: black;
      font-style: italic;
    }
  }

  &.adam {
    background-color: var(--hinge-gray-bg);
    min-height: 32px;
    text-align: left;
    margin-right: auto;
    border-bottom-left-radius: 0;
  }
}

.chat-group {
  margin-top: 24px;

  &.helen {
    &.indicator::after {
      background-color: var(--hinge-conversation-bg-color);
      position: relative;
      bottom: 0px;
      right: 0px;
      content: "";
      display: inline;
      border-right: solid 6px transparent;
      border-bottom: 6px solid var(--hinge-purple);
      border-bottom-right-radius: 3px;

    }

    &.indicator.image::after {
      bottom: calc(32px + 6px);
      left: calc(100% - 4px);
      width: 10px;
      border-bottom: 6px solid var(--hinge-purple-muted);
    }

    &:has(+ .chat-group.helen) {
      border-bottom-right-radius: 0;
    }

    + .chat-group.helen  {
      margin-top: 4px;
      .chat-message {
        border-top-right-radius: 0;
      }
    }
  }

  &.adam {
    + .chat-group.adam {
      margin-top: 4px;

      .chat-message {
        border-top-left-radius: 0;
      }
    }
  }
}

.chat-image {
  margin-top: auto;
  width: 32px;
  height: 32px;

  .headshot {
     border-radius: 50%;
     width: 32px;
     height: 32px;
     overflow: hidden;
     border: 2px solid var(--hinge-conversation-bg-color);

     img {
       position: relative;
       left: -5px;
       width: 40px;
       max-width: none;
     }
  }

  .indicator {
    position: relative;
    top: -10px;
    left: 22px;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-left: 10px solid transparent;
    border-bottom: 8px solid var(--hinge-gray-bg);
    border-bottom-left-radius: 3px;
  }
}

.full-height {
  height: 100vh
}

.full-content-height {
  height: calc(100% - 61px)
}

.big-text {
  font-size: 48px
}

@keyframes beating-heart {
  from {
    width: 50%;
    height: 55%;
  }

  to {
    width: 60%;
    height: 70%;
  }
}

.heart-clip {
  width: 50%;
  clip-path: shape(from 50% 91%, line to 90% 50%, arc to 50% 9%  of 1%, arc to 10% 50% of 1%, close);
  background-position: center;
  background-size: 80vh;
  background-image: url("/images/ferry.jpg");
   animation: 2s infinite alternate beating-heart 
}

@-moz-document url-prefix() {
  .heart-clip {
    animation: none;
    width: 60%;
    height: 70%;
  }
}

.comparison-table {
  width: 100%;

  tr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  th {
    text-align: left;
    padding: 0.5rem;
  }

  td {
    padding: 0.5rem;
    margin: auto;
  }
}

ul {
  list-style-type: disc;
  list-style-position: inside;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
}

.list-style-none {
  /* Not sure if I need both attributes, but it worked. */
  list-style: none;
  list-style-type: none;
}

.text-caption {
  font-style: italic;
  margin-top: 0;
  padding-left: 1rem;
}

.button-caption {
  margin-top: -1rem;
}

#float-menu {
  position: fixed;
  top: 100px;
  left: 0%;
  margin-left: 100px;
  width: 200px;
  @media only screen and (max-width: 1334px) {
    display: none;
  }

  li {
    transition: background-color 500ms ease-in-out; 
    padding: 4px;
    border-radius: 8px;
  }

  li:hover {
    background-color: #55aaff35;
  }

  ul {
    list-style: none;
    list-style-type: none;
    display: flex;
    gap: 1rem;
    flex-direction: column;

    li {
      font-size: 18px;
      font-weight: 700;
    }

    .submenu {
      gap: 0.5rem;

      li {
        font-weight: 400;
        padding-left: 1rem;
      }
    }
  }
}

.btn-primary {
  background-color: #5af;
}

.btn-primary:hover {
  background-color: #55aaff75 !important;
}

#center-div {
  min-height: calc(100dvh - 320px);
}

#nav-opener {
  display: none;
}

@media only screen and (max-width: 1200px) {
  #nav-list {
    display: none;
    height: 100%;
    position: fixed;
    right: -400px;
    top: 0;
    width: 300px;
    margin-left: 400px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 4px;
    background-color: white;
    transition: right 200ms ease-in-out; 
    padidng: 0;

    li {
      width: 100%;

      a {
        display: block;
        width: 100%;
        padding: 16px;
        text-align: center;
      }
    }

    &.nav-open {
      right: 0;
    }
  }

  #nav-opener {
    display: flex;
    font-size: 32px;
    cursor: pointer;
  }
}
